.login-container {
  height: 100vh;
  display: flex;
  flex-direction: row; /* Default to row for larger screens */
}

.login-background {
  background: url("../../assets/img/ffslogo.png") no-repeat center center;
  background-size: cover;
  filter: brightness(0.8);
  flex: 1; /* Take up 50% of the container */
}

.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ff4e50, #fc913a);
  flex: 1; /* Take up 50% of the container */
}

.login-card {
  width: 90%; /* Adjust card width for smaller screens */
  max-width: 400px; /* Limit card width on larger screens */
  padding: 30px;
  text-align: center;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.login-subtitle {
  color: #ddd;
  margin-bottom: 20px;
  display: block;
}

.login-options {
  display: flex;
  justify-content: center;
}

.forgot-password {
  color: #f0f0f0;
}

.login-button {
  width: 100%;
  height: 50px;
  font-size: 16px;
  background-color: #1890ff;
  border: none;
  transition: 0.3s;
}

.login-button:hover {
  background-color: #40a9ff;
}

.signup-link a {
  color: #fff;
  font-weight: bold;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column; 
  }

  .login-background,
  .login-content {
    flex: none; /* Don't use flex, let content take its natural height */
    height: 50vh; /* Make each section take 50% of the viewport height */
  }
  .ant-col-12 {
    max-width: 100% !important;
}
}


@media (max-width: 480px) {
    .login-card {
        /* padding: 20px; */
    }
}