.signup-container {
  height: 100vh;
  display: flex;
  flex-direction: column; /* Stack columns on small screens */
}

@media (min-width: 576px) {
  .signup-container {
    flex-direction: row; /* Row layout on larger screens */
  }
}

.signup-background {
  background: url("../../img/ffslogo.png") no-repeat center center;
  background-size: cover;
  filter: brightness(0.8);
}

.signup-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ff4e50, #fc913a);
}

.signup-card {
  width: 90%; /* Adjust width for smaller screens */
  max-width: 400px; /* Limit width on larger screens */
  padding: 30px;
  text-align: center;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.signup-title {
  font-size: 24px;
  font-weight: bold;
  color: #222121;
}

.signup-subtitle {
  color: #ddd;
  margin-bottom: 20px;
  display: block;
}

.signup-options {
  display: flex;
  justify-content: space-between;
}

.signup-button {
  width: 100%;
  height: 50px;
  font-size: 16px;
  background-color: #1890ff;
  border: none;
  transition: 0.3s;
}

.signup-button:hover {
  background-color: #40a9ff;
}

.login-link a {
  color: #fff;
  font-weight: bold;
}