:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --theme-color: #f6881a;
  --layout-header-color: #d3d3d3;
  --layout-sidebar-color: #d3d3d3;
  --layout-conent-color: #d3d3d3;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.content_container {
  margin-top: 40px;
  background-color: var(--layout-conent-color) !important;
  overflow: "scroll";
}

/* Default menu item style */
.custom-menuitem,
.custom-subitem {
  color: black !important;
  font-weight: 500;
  border-radius: 6px;
}

/* Hover effect */
.custom-menuitem:hover,
.custom-subitem:hover {
  background-color: #f5f5f5 !important;
  color: black !important;
}

/* Selected item styling */
.custom-menuitem.active,
.custom-subitem.active {
  background-color: #fff7e6 !important; /* light yellow */
  color: black !important;
  font-weight: 600;
}

/* Icon inside selected items */
.custom-menuitem.active .anticon, 
.custom-subitem.active .anticon {
  color: black !important;
}
.ant-menu-title-content{
  color: black !important;
}
